<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1,"className":"title","style":{"typography":{"fontSize":"5rem","fontStyle":"normal","fontWeight":"700"}}} -->
<h1 class="wp-block-heading has-text-align-center title" style="font-size:5rem;font-style:normal;font-weight:700"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-primary-color">Lorem</mark> Ipsum</h1>
<!-- /wp:heading -->

<!-- wp:group {"className":"content","fontSize":"large","layout":{"type":"constrained"}} -->
<div class="wp-block-group content has-large-font-size"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet mattis nibh, eget maximus orci varius tempus. Etiam non odio iaculis, laoreet sem vitae, iaculis nibh. Mauris dignissim ipsum purus. Sed mattis sem eu rhoncus fermentum. Proin sagittis erat non quam dapibus, auctor feugiat magna cursus. Nullam pulvinar faucibus ipsum ut lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce ac magna eu velit ultrices blandit. Morbi vulputate dui vel mi ultrices, vitae porttitor metus varius.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Integer mollis magna vel ex vehicula, vel placerat eros commodo. Curabitur feugiat libero eget massa efficitur, vitae cursus eros iaculis. Proin sit amet orci laoreet, luctus nulla sit amet, rutrum nulla. Donec et risus lobortis, pellentesque nunc in, maximus risus. Donec at tempus ante. Donec ac mi est. Morbi tristique velit vitae ante sodales fringilla. Vestibulum sollicitudin lorem velit, et ullamcorper odio tincidunt vel.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Suspendisse commodo ligula vitae augue pharetra, sed mattis dui malesuada. Cras venenatis ipsum ac nibh ornare consectetur. Maecenas pretium, tortor non interdum ultrices, orci enim finibus massa, ac suscipit mi libero non sapien. Nullam posuere luctus elementum. Praesent sem tellus, ornare eget sapien vel, facilisis mattis odio. Cras congue tristique libero, nec tristique tortor fermentum vel. Sed porttitor volutpat nisl, id mattis lacus bibendum id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec condimentum, lorem eu euismod euismod, sapien tellus varius ligula, at efficitur risus tortor sed tellus. Maecenas quis neque vel neque dapibus ornare. Nulla facilisi. Nullam eget facilisis augue, id laoreet neque. Maecenas suscipit ultricies lorem, eget lobortis massa. Vivamus consectetur justo sed rhoncus tincidunt.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Vestibulum eleifend gravida nisi, vitae gravida mauris blandit eget. Donec pretium, risus eget iaculis eleifend, diam mauris finibus elit, vel tempus lectus ligula eu risus. In hac habitasse platea dictumst. Phasellus vel dolor ex. Nulla velit metus, tristique ac pulvinar vitae, tempor a lectus. Nunc sollicitudin ornare nibh at euismod. Fusce eget mattis neque. Maecenas purus elit, sodales ut sem et, commodo blandit ipsum. Nulla tempus risus turpis, eget fermentum augue egestas nec.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Sed iaculis ex sed est laoreet sodales. Maecenas sodales condimentum ligula id ornare. Praesent pretium velit id ligula blandit euismod at vitae metus. Duis turpis quam, blandit ac suscipit pretium, ullamcorper vel nisl. In eget turpis scelerisque, egestas lorem sit amet, sodales ipsum. Fusce consequat lorem neque, at aliquam diam tincidunt ut. In ultrices nec neque nec volutpat. Proin semper finibus magna, a facilisis dui pretium luctus.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Nam vitae porttitor urna. Aliquam mollis volutpat fermentum. Donec a feugiat eros, posuere luctus diam. In ac nulla ultrices, vestibulum tellus et, sagittis magna. Duis ultrices mattis odio, vitae euismod lacus tempus ac. Phasellus sollicitudin, tellus at sodales fermentum, nisi neque sodales odio, id pellentesque nibh ligula tincidunt odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed maximus mauris ante, eget efficitur sapien dapibus non. Aenean ultrices, quam in lobortis convallis, massa lectus sollicitudin nulla, et placerat sapien dui sit amet augue. Donec elementum, erat in congue varius, mi sapien tempor nisl, in porta metus sem in sapien. Donec pretium augue ac facilisis viverra.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"aspectRatio":"16/9","scale":"cover","sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://picsum.photos/seed/picsum/1000/1000" alt="" style="aspect-ratio:16/9;object-fit:cover"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Mauris condimentum elit quis magna feugiat hendrerit. Donec porttitor posuere malesuada. Fusce auctor a ipsum in rutrum. Proin nulla nunc, volutpat nec leo ac, convallis porta nisl. Vestibulum ut leo eget odio consectetur porttitor. Vestibulum ultrices vulputate egestas. Proin risus nulla, auctor et sagittis ut, aliquet vel quam. Nullam lobortis lobortis ipsum vitae semper. Phasellus laoreet rutrum mi, a hendrerit nunc dignissim nec. Suspendisse elementum ex vel tortor fermentum euismod. In dapibus ultrices tortor in accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse et orci mattis, efficitur nunc rhoncus, luctus mi. Pellentesque nec porta urna. Sed quis ligula sed turpis luctus dictum. Cras aliquet, ante ut tristique aliquam, lacus felis vulputate justo, quis rhoncus urna nisl sit amet mi.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Pellentesque leo augue, scelerisque scelerisque commodo id, tincidunt quis justo. Mauris pretium tempor nibh, et rhoncus urna. Nulla mollis nisl eget mauris posuere faucibus. Praesent sed imperdiet turpis, quis pulvinar felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus iaculis urna at turpis lacinia, non faucibus arcu dapibus. Curabitur ornare magna id imperdiet placerat. Duis fringilla magna sed nulla iaculis, et venenatis nibh rutrum. Fusce ac blandit ipsum. Nunc at fermentum magna. Integer mi augue, ultricies in nulla non, imperdiet dictum sem. Pellentesque lectus lectus, ullamcorper ut est a, consequat elementum leo.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Praesent et rhoncus elit, vel condimentum quam. Suspendisse dapibus tortor volutpat leo auctor, eu luctus libero porta. Mauris elementum feugiat aliquam. Nulla ac feugiat quam, at lacinia neque. Duis vel tortor vitae ligula rhoncus vestibulum accumsan in ante. Nunc in consequat erat. Integer vulputate luctus orci, a porttitor nunc ornare ac. Sed semper, mauris in finibus commodo, eros purus aliquet elit, nec euismod est leo non ipsum. In commodo dui id nisi elementum bibendum. Vivamus varius sem quis venenatis euismod. Vestibulum ac lobortis leo. Praesent ut orci leo. Phasellus a tortor nec purus efficitur varius. Aliquam interdum ullamcorper metus.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Quisque vulputate et sapien eget feugiat. Nunc pharetra magna in mollis iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et facilisis ipsum, sed porta lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend, ex ut tempor molestie, orci turpis bibendum nibh, lacinia tincidunt nisl est nec enim. Nulla semper eleifend congue. Nam at volutpat lectus. Morbi id purus pellentesque, suscipit purus non, dictum orci. Fusce quis blandit lorem, rutrum rhoncus lectus. Nulla quis elementum ligula, et tincidunt purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->