@layer components {
  /* Default width */
  .wp-block-post-title,
  .page-header,
  .e-content > *,
  .wp-block-post-content > * {
    @apply container-60!;
  }

  /* Title */
  .wp-block-post-title,
  .page-header {
    @apply mb-lg space-y-xs text-6xl;
  }

  /* Content */
  .e-content,
  .wp-block-post-content {
    @apply text-lg;

    /* Spacing between content */
    & > *:not(:last-child) {
      @apply mb-md;
    }

    /* Blockquote block */
    blockquote {
      @apply pl-md py-md border-l-2 font-serif text-4xl;
    }

    /* List Block */
    ol.wp-block-list,
    ul.wp-block-list {
      @apply pl-md;
    }

    /* List Ordered Block */
    ol.wp-block-list {
      @apply list-decimal;
    }

    /* List Unordered Block */
    ul.wp-block-list {
      @apply list-disc;
    }
  }
}
