@utility container {
  padding-inline: var(--spacing-sm);
  margin-inline: auto;
}

@utility link {
  cursor: pointer;
  text-decoration: none !important;

  @variant hover {
    color: var(--color-primary);
    text-decoration: underline !important;
  }
}

@utility container-* {
  width: 100%;
  max-width: --value(--breakpoint-sm);
  margin-inline: auto;

  /* noinspection CssOverwrittenProperties */
  @variant lg {
    /* prettier-ignore */
    max-width: --value(--breakpoint-*);
    max-width: calc(100% * --value(ratio));
    max-width: calc(--value(integer) * 1%);
  }
}
