{
  "printWidth": 80,
  "sortTailwindcssClasses": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@shufo/prettier-plugin-blade",
    "@prettier/plugin-php"
  ],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade"
      }
    }
  ]
}
